* {
    margin: 0px;
    border: 0px;
    max-width: 1500px;
    box-sizing: border-box;
}
            /* Header */
header {
    display: flex;
    max-width: 1440px;
    height: 85px;
    background-color: azure;
    padding-top: 20px;
    color: #8a8fa3;
}
.logox {
    width: 150px;
    height: 50px;
    margin-left: 80px;
}
.header-right {
    font-size: 16px;
    padding: 15px;
    width: 630px;
    height: 24px;
    margin-left: 250px;
    margin-right: -30px;
    /* justify-content: space-around; */
}
.header-right span {
    margin: 0 10px;
}
.header-right:hover span {
    color: blueviolet;
}

        /* logo */
.logo {
    height: 730px;
    width: 1440px;
}
.Content {
    position: relative;
    width: 1140px;
    height: 642px;
    margin: 0 auto;
}
.img-human {
    position: absolute;
    width: 426px;
    height: 642px;
    margin: 20px -50px 20px 650px;
}
.info {
    position: absolute;
    padding-top: 30px;
    width: 400px;
    height: 200px;
    margin: 150px -300px 150px 100px;
}

#Hello {
    font-size: 30px;
    color: #754ef9;
}
h3 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 50px;
}
#comment {
    margin-top: 25px;
    font-size: 15px;
    color: #8a8f;
}
.view-my-work {
    padding-top: 17px;
    padding-left: 29px;
    position: absolute;
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: #754ef9;
    margin: 380px -300px 150px 100px;
    
}
.view-my-work a {
    text-decoration: none;
    color: wheat;
}
.icon {
    /* padding-top: ; */
    padding-left: 200px;
    width: 1500px;
    height: 40px;
    background-color: azure;
    display: flex;
    /* justify-content: space-between; */
}
.icon i {
    font-size: 20px;
    padding-top: 9px;
    padding-left: 9px;
    border: 2px solid rgb(161, 175, 180);
    border-radius: 50%;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    
}

            /* CSS about me */
.About-me {
    height: 666px;

}
.about {
    width: 730px;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
}
.about p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #8a8fa3;
        margin: 0;
}
.contac1 {
    /* position: relative; */
    width: 540px;
    height: 281px;
    margin-left: 100px;
    padding-top: 50px;
    
}
.contac1 p {
    margin-top: 13px;
    color: #8a8fa3;
}
.icon2 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 66px;
    font-size: 16px;
    
}

