body {
    margin: 0px 20px 20px 20px;   
}
.card {
    
    background-color: aquamarine;
}
h1 {
    color: red;
}
.img {
    padding-bottom: 20px;
    border-bottom: 4px dashed black;
}
h3:hover {
    color: blue;
}
.skills ::selection {
    color: brown;
    background-color: white;
}
.skills {
    text-decoration-line: underline;
}
.skills span p {
    color: black;
}
