* {
    margin: 0px;
    border: 0px;
    /* max-width: 1440px; */
    box-sizing: border-box;
}
.container {
    margin: 0px auto;
    border: 0px;
    /* max-width: 1350px; */
    box-sizing: border-box;
}
            /* Header */
header {
    
    position: fixed;
    display: flex;
    align-items: center;
    width: 1350;
    height: 100px;
    background-color: azure;
    color: #8a8fa3;
    box-sizing: border-box;
    justify-content: space-around;
}



.logox {
    margin-left: 110px;
}
.header-right span {
    padding-right: 20px;
}
.header-right {
    font-size: 16px;
    margin-right: 30px;
}

.header-right-item {
    position: relative;
}
.header-right-item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 0px;
    top: -40px;
    left: 20px;
    background-color: #754ef9;
} 

.header-right-item:hover::before {
    height: 20px;     
} 
/* 
.header-right-item:hover {
    color: #754ef9;
} */


      /* logo */
.logo {
    position: relative;
    height: 630px;
    width: 1440px;
    box-sizing: border-box;
    overflow: hidden;
}
.logo::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    margin-top: 560px;
    background-color: #754ef9;
}

.Content {
    position: relative;
    width: 1140px;
    height: 542px;
    margin: 0 auto;
}
.img-human {
    position: absolute;
    width: 380px;
    height: 242px;
    margin: 100px -50px 20px 650px;
}
.info {
    position: absolute;
    padding-top: 30px;
    width: 400px;
    height: 200px;
    margin: 150px -300px 150px 100px;
}

#Hello {
    font-size: 30px;
    color: #754ef9;
}
h3 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 50px;
}
#comment {
    margin-top: 25px;
    font-size: 15px;
    color: #8a8f;
}
.view-my-work {
    padding-top: 15px;
    position: absolute;
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: #754ef9;
    color: white;
    margin-top: 50px;
    text-align: center;
    
}
.view-my-work a {
    text-decoration: none;
    /* color: wheat; */
}
.view-my-work:hover{
    /* border: 1px solid black; */
    background-color: white;
    transform: scale(1.02);
    color: #754ef9;
    border: 2px solid black;
}
.icon {
    /* padding-top: ; */
    padding-left: 200px;
    width: 1500px;
    height: 40px;
    background-color: azure;
    display: flex;
    /* justify-content: space-between; */
}
.facebook1:hover {
    transform: scale(1.05);
}
.icon i {
    font-size: 20px;
    padding-top: 9px;
    padding-left: 9px;
    border: 2px solid rgb(161, 175, 180);
    border-radius: 50%;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    
}

            /* CSS about me */
.About-me {
    box-sizing: border-box;
    height: 400px;

}
.about {
    width: 730px;
    height: 130px;
    text-align: center;
    margin-top: 50px;
    margin-left: 400px;
}
.about p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #8a8fa3;
        margin: 0;
}
.contac1 {
    /* position: relative; */
    width: 440px;
    height: 281px;
    margin-left: 230px;
    padding-top: 30px;
    
}
.contac1 p {
    position: relative;
    display: flex;
    margin-top: 13px;
    color: #8a8fa3;
}
.icon2 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 66px;
    font-size: 16px;
}

.chart {
    box-sizing: border-boxs;
    width: 450px;
    height: 281px;
    margin-left: 550px;
    margin-top: -200px;
}

.chart-html{
    position: relative;
    width: 200px;
    height: 80px;
}

.chart-html-line {
    margin-top: 10px;
    width: 450px;
    height: 5px;
    background-color: #7881a7;
}

.chart-css {
    
    margin-top: -40px;
    width: 440px;
    height: 80px;
}
.chart-css-line {
    margin-top: 10px;
    width: 450px;
    height: 5px;
    background-color: #7881a7;
}
.chart-photoshop {
    margin-top: -40px;
    width: 440px;
    height: 80px;
    
}
.chart-photoshop-line {
    margin-top: 10px;
    width: 450px;
    height: 5px;
    background-color: #7881a7;
}
.chart-sketch { 
    margin-top: -40px;
    width: 440px;
    height: 80px;
}
.chart-sketch-line {
    margin-top: 10px;
    width: 450px;
    height: 5px;
    background-color: #7881a7;
}

    /* This is My Service */
.My-services {
    padding-top: 10px;
    width: 1140px;
    height: 730px;
}
h2 {
    font-size: 40px;
}
.My-services-content {
    margin-left: 400px;
    width: 750px;
    height: 160px;
    text-align: center;
    font-size: 14px;
}
.My-services-content p {
    color: #8a8fa3;
    margin-top: 10px;
}
.box {
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 600px;
    background-color: white;
    margin-left: 150px;
}
.box p {
    margin-top: 25px;
    font-size: 16px;
    color: #8a8fa3;
}
.box h4 {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 400;
}
.box i {
    color: #754ef9;
    font-size: 60px;
}
.Web-Design {
    padding: 28px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 10px;
}
.Web-Design:hover {
    transform: scale(0.99);
}
.Graphic-Design {
    padding: 28px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 10px;
}
.Graphic-Design:hover {
    transform: scale(0.99);
}
.App-Design {
    padding: 28px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 10px;
}
.App-Design:hover {
    transform: scale(0.99);
}
.Illustration-Design {
    padding: 28px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 10px;
}
.Illustration-Design:hover {
    transform: scale(0.99);
}
.Web-Development {
    padding: 28px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 10px;
}
.Web-Development:hover {
    transform: scale(0.99);
}
.Consultancy-and-Support {
    padding: 28px;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 10px;
}
.Consultancy-and-Support:hover {
    transform: scale(0.99);
}
    /* This is CSS Have any project */
    
.Have-any {
        /* position: relative; */
        box-sizing: border-box;
    background-image: 
    linear-gradient(#e652529d,#e652529d), 
    url(https://preview.uideck.com/items/unfold/assets/images/call-to-action.jpg);
    width: 1500px;
    height: 400px;
}

    
.Have-any-project {
        position: relative;
        margin-left: 350px;
        width: 750px;
        height: 300px;
        padding-top: 80px;
        text-align: center;
        font-size: 40px;
        color: white;
}
.Have-any-project p {
        position: absolute;
        font-size: 16px;
        padding: 50px;
        text-align: center;
    }
.button1 {
        display: flex;
        position: relative;
        margin-left: 500px;
        width: 250px;
        height: 100px;
        justify-content: space-between;
}
#Download-CV {
        position: absolute;
        padding-top: 15px;
        text-align: center;
    display: block;
    width: 180px;
    height: 50px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 27px;
    background: white;
    }
#Download-CV:hover {
        background-color: #754ef9;
        transform: scale(0.9);
    }
#HIRE-ME {
        padding-top: 15px;
        text-align: center;
        position: absolute;
        display: block;
        width: 180px;
        height: 50px;
        text-decoration: none;
        margin-left: 240px;
        font-size: 15px;
        border-radius: 27px;
        background: #754ef9;
}
#HIRE-ME:hover{
            background-color: #7881a7;
            transform: scale(0.95);
}

        /* This is My-Recent-Works */
.My-Recent-content {
            width: 760px;
            height: 154px;
            padding-top: 60px;
            margin-left: 125px;
            font-size: 25px;
            color: black;
}
.My-Recent-content p {
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
            color: #8a8fa3;
}
.My-Recent-card {
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            height: 800px;
            width: 1100px;
            justify-content: space-between;

}
.My-Recent-card1 {
            width: 350px;
            height: 350px;
            border: 2px solid black;
            border-radius: 10px;
}
.My-Recent-card1 img {
            /* border-radius: 10px; */
            /* margin-top: -35px; */
            width: 345px;
            height: 345px;
}
.My-Recent-card1-hover {
            padding-top: 50px;
            font-size: 50px;
            display: none;
            text-align: center;

}
.My-Recent-card1-hover:hover {
            background-color: aqua;

}
.My-Recent-card2 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}
.My-Recent-card2 img {
    /* border-radius: 10px; */
    /* margin-top: -35px; */
    width: 345px;
    height: 345px;
}
.My-Recent-card3 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}
.My-Recent-card3 img {
    /* border-radius: 10px; */
    /* margin-top: -35px; */
    width: 345px;
    height: 345px;
}
.My-Recent-card4 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}
.My-Recent-card4 img {
    /* border-radius: 10px; */
    /* margin-top: -35px; */
    width: 345px;
    height: 345px;
}
.My-Recent-card5 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}
.My-Recent-card5 img {
    /* border-radius: 10px; */
    /* margin-top: -35px; */
    width: 345px;
    height: 345px;
}
.My-Recent-card6 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}
.My-Recent-card6 img {
    /* border-radius: 10px; */
    /* margin-top: -35px; */
    width: 345px;
    height: 345px;
}
.My-Recent-buttom {
    padding-top: 15px;
    margin: 0 auto;
    /* position: absolute; */
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: #754ef9;
    color: white;
    /* margin-top: 50px; */
    text-align: center;
}
.My-Recent-buttom:hover {
    border: 1px solid rgba(12, 11, 11, 0.404);
    color: #754ef9;
    background-color: white;
    transform: scale(1.05);
}

/* This is My-Pricing-Plans */

.My-Pricing-Plans {
    margin-top: 100px;
    /* width: 1450px; */
    height: 800px;
    box-sizing: border-box;
    text-align: center;
}
.My-Pricing-Plans-content {
    /* width: 800px; */
    height: 160px;
    margin: 0 auto;
}
.My-Pricing-Plans-card {
    box-sizing: border-box;
    margin-left: 100px;
    width: 1200px;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.My-Pricing-Plans-card1 {
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
    width: 380px;
    height: 450px;
    overflow: hidden;

}
.My-Pricing-Plans-card1-tilte {
    padding-top:20px;
    width: 380px;
    height: 50px;
    
    background-color: #754ef9;
    color: white;
}
.My-Pricing-Plans-card1-tex {
    margin-top: 20px;
}

.My-Pricing-Plans-card1-tex p{
    font-size: 30px;
    color: #754ef9;
}

.My-Pricing-Plans-card1-li {
    
    margin-top: 30px;
    text-align: center;

    width: 380px;
    height: 160px;
    color: black;
    margin-bottom: 20px;
}
.My-Pricing-Plans-card1-li ul{
    padding-left: 0px;
    padding-bottom: 20px;
    list-style-type: none;
    text-align: center;

}
.My-Pricing-Plans-card1-li li {
    padding-bottom: 10px;
}

.My-Pricing-Plans-card1::before {
    position: absolute;
    content: '';
    width: 380px;
    height: 1px;
    margin: 175px 200px 120px -190px;
    background-color: #7881a7;
}

.My-Pricing-Plans-card1-buttom {
    
    padding-top: 15px;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: white;
    color: #754ef9;
    text-align: center;
    border: 1px solid #754ef9;
}
.My-Pricing-Plans-card1-buttom:hover {
    border: 1px solid rgba(12, 11, 11, 0.404);
    color: white;
    background-color: #754ef9;
    transform: scale(1.05);
}

.My-Pricing-Plans-card2 {
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
    width: 380px;
    height: 450px;
    overflow: hidden;

}
.My-Pricing-Plans-card2-tilte {
    padding-top:20px;
    width: 380px;
    height: 50px;
    
    background-color: #754ef9;
    color: white;
}
.My-Pricing-Plans-card2-tex {
    margin-top: 20px;
}

.My-Pricing-Plans-card2-tex p{
    font-size: 30px;
    color: #754ef9;
}

.My-Pricing-Plans-card2-li {
    
    margin-top: 30px;
    text-align: center;

    width: 380px;
    height: 160px;
    color: black;
    margin-bottom: 20px;
}
.My-Pricing-Plans-card2-li ul{
    padding-left: 0px;
    padding-bottom: 20px;
    list-style-type: none;
    text-align: center;

}
.My-Pricing-Plans-card2-li li {
    padding-bottom: 10px;
}

.My-Pricing-Plans-card2::before {
    position: absolute;
    content: '';
    width: 380px;
    height: 1px;
    margin: 175px 200px 120px -190px;
    background-color: #7881a7;
}

.My-Pricing-Plans-card2-buttom {
    
    padding-top: 15px;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: #754ef9;
    color: white;
    text-align: center;
}
.My-Pricing-Plans-card2-buttom:hover {
    border: 1px solid rgba(12, 11, 11, 0.404);
    color: #754ef9;
    background-color: white;
    transform: scale(1.05);
}

.My-Pricing-Plans-card3 {
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
    width: 380px;
    height: 450px;
    overflow: hidden;

}
.My-Pricing-Plans-card3-tilte {
    padding-top:20px;
    width: 380px;
    height: 50px;
    
    background-color: #754ef9;
    color: white;
}
.My-Pricing-Plans-card3-tex {
    margin-top: 20px;
}

.My-Pricing-Plans-card3-tex p{
    font-size: 30px;
    color: #754ef9;
}

.My-Pricing-Plans-card3-li {
    
    margin-top: 30px;
    text-align: center;

    width: 380px;
    height: 160px;
    color: black;
    margin-bottom: 20px;
}
.My-Pricing-Plans-card3-li ul{
    padding-left: 0px;
    padding-bottom: 20px;
    list-style-type: none;
    text-align: center;

}
.My-Pricing-Plans-card3-li li {
    padding-bottom: 10px;
}

.My-Pricing-Plans-card3::before {
    position: absolute;
    content: '';
    width: 380px;
    height: 1px;
    margin: 175px 200px 120px -190px;
    background-color: #7881a7;
}

.My-Pricing-Plans-card3-buttom {
    
    padding-top: 15px;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: white;
    color: #754ef9;
    text-align: center;
    border: 1px solid #754ef9;
}
.My-Pricing-Plans-card3-buttom:hover {
    border: 1px solid rgba(12, 11, 11, 0.404);
    color: white;
    background-color: #754ef9;
    transform: scale(1.05);
}

/* THis is From The Blog */

.From-The-Blog {
    margin-top: 50px;
    /* width: 1450px; */
    height: 650px;
    box-sizing: border-box;
    text-align: center;
}
.From-The-Blog-title {
    /* margin-left: 400px; */
    /* width: 730px; */
    height: 154px;
    text-align: center;
    
}
.From-The-Blog-card {
    margin: 0 auto;
    text-align: center;
    width: 1200px;
    height: 360px;
    display: flex;
    justify-content: space-around;
}
.From-The-Blog-card1 {
    position: relative;
    background-image: url(https://preview.uideck.com/items/unfold/assets/images/blog/b-1.jpg);
    width: 350px;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.From-The-Blog-card1-title {
    position: absolute;
    /* margin-left: 50px; */
    margin-top: 250px;
    color: #754ef9;
    width: 260px;
    height: 130px;
    font-size: 22px;
    background-color: white;
    padding: 25px;
    border: 1px solid wheat;
}
.From-The-Blog-card1:hover {
    transform: scale(1.05);
    background-color: #754ef9;
    color: white;
    animation-delay: 1s;
}
.From-The-Blog-card1-title:hover {
    background-color: #754ef9;
    color: white;
}

.From-The-Blog-card2 {
    position: relative;
    background-image: url(https://preview.uideck.com/items/unfold/assets/images/blog/b-2.jpg);
    width: 350px;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.From-The-Blog-card2-title {
    position: absolute;
    /* margin-left: 50px; */
    margin-top: 250px;
    color: #754ef9;
    width: 260px;
    height: 130px;
    font-size: 22px;
    background-color: white;
    padding: 25px;
    border: 1px solid wheat;
}
.From-The-Blog-card2:hover {
    transform: scale(1.05);
    background-color: #754ef9;
    color: white;
    animation-delay: 1s;
}
.From-The-Blog-card2-title:hover {
    background-color: #754ef9;
    color: white;
}
.From-The-Blog-card3 {
    position: relative;
    background-image: url(https://preview.uideck.com/items/unfold/assets/images/blog/b-3.jpg);
    width: 350px;
    height: 360px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.From-The-Blog-card3-title {
    position: absolute;
    /* margin-left: 50px; */
    margin-top: 250px;
    color: #754ef9;
    width: 260px;
    height: 130px;
    font-size: 22px;
    background-color: white;
    padding: 25px;
    border: 1px solid wheat;
    
}
.From-The-Blog-card3:hover {
    transform: scale(1.05);
    background-color: #754ef9;
    color: white;
    animation-delay: 1s;
}
.From-The-Blog-card3-title:hover {
    background-color: #754ef9;
    color: white;
}

.From-The-Blog-buttom {
    padding-top: 15px;
    margin-top: 60px;
    margin-left: 600px;
    width: 180px;
    height: 50px;
    font-size: 15px;
    border-radius: 27px;
    background: #754ef9;
    color: white;
    text-align: center;
}
.From-The-Blog-buttom:hover {
    color: #754ef9;
    background-color: white;
    border: 1px solid #754ef9;
}

/* This is Get In Touch */

.Get-In-Touch {
    position: relative;
    /* width: 1085px; */
    height: 860px;
    text-align: center;
    box-sizing: border-box;
}
.Get-In-Touch-card {
    margin-top: 80px;
    margin-left: 200px;
    text-align: center;
    width: 950px;
    height: 220px;
    display: flex;
    justify-content: space-around;
    
    
}
.Get-In-Touch-card1 {
    /* padding: 25px; */
    width: 250px;
    height: 200px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #7881a7;
    border-radius: 10px;
}
.Get-In-Touch-card1 i{
    margin-top: 20px;
    font-size: 48px;
    color: #754ef9;
}
.Get-In-Touch-card1 h2 {
    padding-top: 15px;
    font-size: 30px;
}
.Get-In-Touch-card1 p {
    padding-top: 20px;
    font-size: 16px;
}

.Get-In-Touch-card2 {
    /* padding: 25px; */
    width: 250px;
    height: 200px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #7881a7;
    border-radius: 10px;
}
.Get-In-Touch-card2 i{
    margin-top: 20px;
    font-size: 48px;
    color: #754ef9;
}
.Get-In-Touch-card2 h2 {
    padding-top: 15px;
    font-size: 30px;
}
.Get-In-Touch-card2 p {
    padding-top: 20px;
    font-size: 16px;
}

.Get-In-Touch-card3 {
    /* padding: 25px; */
    width: 250px;
    height: 200px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #7881a7;
    border-radius: 10px;
}
.Get-In-Touch-card3 i{
    margin-top: 20px;
    font-size: 48px;
    color: #754ef9;
}
.Get-In-Touch-card3 h2 {
    padding-top: 15px;
    font-size: 30px;
}
.Get-In-Touch-card3 p {
    padding-top: 20px;
    font-size: 16px;
}

.Get-In-Touch-map {
    margin-top: 50px;
    margin-left: 320px;
    position: absolute;
    width: 630px;
    height: 400px;
}

@media (max-width: 768px) {
    .box 
    {
        box-sizing: border-box;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        width: 800px;
    }
}